@media all and (max-width: 1379px) {
/*--------dropdown--------*/
    .inmenu {width: 170px;}
    .logo {transform: translate(-40px,45px);}
/*--------footer--------*/
    .footertxt {width: 1150px;}

}

@media all and (max-width: 1279px) {
/*--------dropdown--------*/ 
    .menu {width: 80%;}
    .inmenu {width: 15%;}  
    .logo {
        display: flex;
        transform: translate(-20px,45px);
    }
/*--------contents--------*/
    .sub_2product1 {
        width: 270px;
    }
    .sub_2hover {
        width: 270px;
    }
    .sub_2classimg1 {
        width: 270px;
        background-position: center center;
    }

    .sub_2classimg2 {
        width: 270px;
    }
    .sub_2classimg3 {
        width: 270px;
        background-position: center center;
    }
    .sub_2classtitle {
        width: 270px;
    }
    
/*--------footer--------*/
    .footertxt {width: 950px;}
}


@media all and (max-width: 1023px) {
/*--------dropdown--------*/
    header {height: 100px;}
    .drop {background: linear-gradient(rgba(255,255,255,0.5) 79px, rgba(255,255,255,0.5));}
    .menu {
        width: 100%; height: 256%; display: block;
        transform: translateY(39%); 
    }
    nav {
        position: fixed; top:0; background: #6c4040; height: 100px; 
        z-index: 999; box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    }
    .inmenu {
        width: 100%; transform: translate(0, 0); display: none;
        border-bottom: 0.01em solid #eee; text-align: center;
        margin: 0 auto; padding-bottom: 6%; background: #fff;
        opacity: 0.9;
    }
    .inmenu > a {display: inline-block; margin-top: 5px; color: #6c4040;}
    .inmenu > a:hover {color: #333;}
    .submenu {display: none;}
    .logo {position: absolute; left: 8%; top: -68%; display: bolck;}
    .logo > img {width: 70px; height: 70px;}
    .login {position: absolute; right: 17%; top: -76%; display: bolck;}
    .toggle {
        display: flex; font-size: 2em;
        position: absolute; right: 5%; bottom: 10%; top: 43%;
        z-index: 5; color: #e7e5b4; cursor: pointer;}
/*--------contents--------*/

    .sub_2product1 {
        width: 200px;
    }
    .sub_2hover {
        width: 200px;
    }
    .sub_2classimg1 {
        width: 200px;
        background-position: center center;
    }

    .sub_2classimg2 {
        width: 200px;
    }
    .sub_2classimg3 {
        width: 200px;
        background-position: center center;
    }
    .sub_2classtitle {
        width: 200px;
    }
    .sub_2hover > h2 {
        font-size: 1.2em;
    }
    .sub_2classtext p {
        padding: 0 25px;
    }


/*--------footer--------*/

    .footertxt {width: 97%;}
    .footertxt ul {font-size: 0.8em;}
}


@media all and (max-width: 779px) {
/*--------dropdown--------*/
    body {width: 100%;}
    header {height: 100px;}
    .drop {background: linear-gradient(rgba(255,255,255,0.5) 79px, rgba(255,255,255,0.5));}
    .menu {
        width: 100%; height: 265%; display: block;
        transform: translateY(37%); 
    }
    nav {
        width: 100%;
        position: fixed; top:0; background: #6c4040; height: 100px; 
        z-index: 999; box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    }
    .inmenu {
        width: 100%; transform: translate(0, 4%); display: none;
        border-bottom: 0.01em solid #eee; text-align: center;
        margin: 0 auto; padding-bottom: 6%; background: #fff;
        opacity: 0.9;
    }
    .inmenu > a {display: inline-block; margin-top: 5px; color: #6c4040;}
    .inmenu > a:hover {color: #333;}
    .submenu {display: none;}
    .logo {position: absolute; left: 8%; top: -65%; display: bolck;}
    .logo > img {width: 70px; height: 70px;}
    .login {position: absolute; right: 19%; top: -72.5%; display: bolck;}
    .toggle {
        display: flex; font-size: 2em;
        position: absolute; right: 4%; bottom: 45%; top: 43%;
        z-index: 5; color: #e7e5b4; cursor: pointer;}
/*--------contents--------*/
    .sub_2classbox {
        flex-direction: column;
        align-items: center;
    }
    .sub_2product1 {
        width: 300px;
        margin-bottom: 20px;
    }
    .sub_2hover {
        width: 300px;
    }
    .sub_2classimg1 {
        width: 300px;
        background-position: center center;
    }
    .sub_2classimg2 {
        width: 300px;
    }
    .sub_2classimg3 {
        width: 300px;
        background-position: center center;
    }
    .sub_2classtitle {
        width: 300px;
    }
    .sub_2hover > h2 {
        font-size: 1.7em;
    }
/*--------footer--------*/
    footer {transform: translateY(10%); height: 370px;}
    .footertxt {width: 90%;}
    .footertxt ul:last-child {display:none;}
    .small {display: block; margin-top: -25px;}
    .sns {margin-top: 10px;}
}
@media all and (max-width: 599px) {
    body {width: 100%;}
    header {height: 100px;}
    .drop {background: linear-gradient(rgba(255,255,255,0.5) 79px, rgba(255,255,255,0.5));}
    .menu {
        width: 100%; height: 265%; display: block;
        transform: translateY(36.5%); 
    }
    nav {
        width: 100%;
        position: fixed; top:0; background: #6c4040; height: 80px; 
        z-index: 999; box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    }
    .inmenu {
        width: 100%; transform: translate(0, 4%); display: none;
        border-bottom: 0.01em solid #eee; text-align: center;
        margin: 0 auto; padding-bottom: 6%; background: #fff;
        opacity: 0.9;
    }
    .inmenu > a {display: inline-block; margin-top: 5px; color: #6c4040;}
    .inmenu > a:hover {color: #333;}
    .submenu {display: none;}
    .logo {position: absolute; left: 11%; top: -76%; display: bolck;}
    .logo > img {width: 70px; height: 70px;}
    .login {position: absolute; right: 25%; top: -84.5%; display: bolck;}
    .toggle {
        display: flex; font-size: 2em;
        position: absolute; right: 4%; bottom: 45%; top: 43%;
        z-index: 5; color: #e7e5b4; cursor: pointer;}
    
/*--------slide--------*/
    
    .sub_2container {
        transform: translateY(-20px);
    }
/*--------contents--------*/

    .classAll > h2 {
        font-size: 3em;
    }

/*--------footer--------*/
    footer {transform: translateY(10%); height: 350px;}
    .footertxt {width: 95%;}
    .footertxt ul {width: 30%;}
    .footertxt ul li:nth-child(1) {font-size: 0.9em;}
    .footertxt ul:last-child {display:none;}
    .footertxt ul li {font-size: 0.8em;}
    .small {display: block; margin-top: -20px;}
    .small > li {font-size: 0.9em;}
    .small .Input input[type=text] {width: 220px; height: 27px;}
    .small .Input input[type=submit] {width: 135px; height: 32px;}
    .sns {margin-top: 1px;}
    .snsicon img {width: 25px; height: 25px;}    



}



