@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@400;700&display=swap');

.sub_4content {
    width: 100%; 
    height: auto; 
    margin: 0 auto;
}
.sub_4Title {
    width: 100%; height: 80px; 
    margin: 0 auto;
    margin: 50px 0 30px 0;
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.sub_4Title > h2 {
    text-transform: uppercase; font-size: 4em;
    letter-spacing: 0.08em; color: #2f2f2f;
    font-family: 'Hind Vadodara', Arial, sans-serif;
    font-weight: 500;
}


/*------1-LINE--------*/
.sub_4Review1 {
    width: 90%;
    /* border: 1px solid salmon; */
    margin: 0 auto; 
    text-align: center;
}
.sub_4Line {
    text-align: center; 
    margin: 25px auto; text-transform: uppercase;
    font-size: 1.7em; letter-spacing: 0.5em;
    color: #555; text-align: center;
    font-weight: 500;
    font-family: 'Hind Vadodara', Arial, sans-serif;
}
.sub_4Line:before {
    content: '';
    display: block;
    width: 200px; margin: 1px auto;
    border-top: 2px solid rgba(132, 147, 110, 0.8);

}
.sub_4Reviewbox1 {
    width: 80%;
    display: flex; margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 50px;
}
.sub_4product1 {
    width: 30%;
    /* border: 1px solid blue; */
}
.sub_4Reviewimg1 {
    width: 100%;
    height: 250px;
    display: block;
    background: url(../../img1/sub2_kids.jpg) no-repeat center bottom;
    background-size: cover;
    margin: 0 auto;
}
.sub_4Reviewimg2 {
    width: 100%;
    height: 250px;
    display: block;
    background: url(../../img1/sub2_beginner.jpg) no-repeat center center;
    background-size: cover;
    margin: 0 auto;
}
.sub_4Reviewimg3 {
    width: 100%;
    height: 250px;
    display: block;
    background: url(../../img1/sub2_beginner.jpg) no-repeat center center;
    background-size: cover;
    margin: 0 auto;
}
.sub_4Reviewtitle > h3 {
    text-align: center;
    margin: 0 auto; 
    margin-top: 10px;
    font-size: 1.1em;
    font-weight: 500;
    color: #555;
    text-transform: capitalize;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
    transition: all 0.3s;
}
.sub_4Reviewtitle h3:active {
    color: #ccc;
}
.sub_4reviewStar {
    margin-top: 5px;
}
.sub_4star {
    font-size: 0.8em;
    color: #777;
    display: inline-block;
    padding-bottom: 6px;
}
/* .sub_4star i:nth-child(-n+3) {
    color: brown;
} */
.sub_4Reviewbody {
    background: #e8e8e8;
}
.sub_4Reviewtext1,
.sub_4Reviewtext2,
.sub_4Reviewtext3 {
    text-align: center;
    background: #eee;
    border: 1px solid #ccc;
}
.sub_4Reviewtitle h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

.sub_4Reviewtext1 p, 
.sub_4Reviewtext2 p, 
.sub_4Reviewtext3 p {
    letter-spacing: 0.05em;
    font-weight: 300;
    font-size: 0.9em;
    text-align: center; 
    margin: 10px 0;
    font-family: 'Noto Sans KR', sans-serif;
    white-space: pre-wrap;
}
.sub_4Reviewbody {
    display: none;
}
.active .sub_4Reviewbody {
    display: block;
}
.sub_4Reviewbody p {
    text-align: center; 
    white-space:pre-line;
    line-height: 2em;
}
/*------1-LINE--END------*/

/*------2-LINE--------*/

.sub_4Review2 {
    width: 90%;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#btn_collapse {
    position: relative;
    right: -34%;
    padding: 5px 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    background: #eee;
    border: 1px solid #84936e;
    border-radius: 3px;
    font-family: 'Hind+Vadodara', sans-serif;
    padding-top: 2px;
    /* transform: translateX(550%); */
}
#btn_collapse:hover {
    background: #fff;
    color: #84936e;
}
.sub_4Review2_in {
    width: 80%;
    margin: 0 auto; 
}
.sub_4ReviewTitle2 {
    display: flex;
    align-items: center;
    padding: 5px 0 5px 20px;
    background: #84936e;
    border-bottom: 1px solid #ccc;
    font-family: 'Noto Sans KR', sans-serif;
}
.sub_4ReviewTitle2 > h2 {
    font-size: 1.1em;
    padding-right: 10px;
    color: #fff;
    font-weight: 400;
}
.sub_4ReviewBody2 {
    white-space: pre-line;
    line-height: 2em;
    padding-left: 20px;
    font-weight: 300;
    background: rgba(132, 147, 110, 0.1);
    font-family: 'Noto Sans KR', sans-serif;

    /* display: none; */
}
.sub_4Review2_in.active2 .sub_4ReviewBody2 {
    display: block;
}
article:last-child {
    margin-bottom: 50px;
}




